{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 1.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src ="{% static 'img/Gambar 2.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 3.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <section>
    <div class="container mb-5">
      <!--Section: Contact v.2-->
      <section class="mb-4">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">
          Hubungi kami
        </h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
          Apakah Anda memiliki pertanyaan? Jangan ragu untuk menghubungi kami
          langsung. Tim kami akan menghubungi Anda kembali dalam hitungan jam
          untuk membantu Anda.
        </p>

        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-md-0 mb-5">
            <form
              id="contact-form"
              name="contact-form"
              >
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                    />
                    <label for="name" class="">Nama</label>
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"
                    />
                    <label for="email" class="">Gmail</label>
                  </div>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="subject"
                      name="subject"
                      class="form-control"
                    />
                    <label for="subject" class="">Subject</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea
                      type="text"
                      id="message"
                      name="message"
                      rows="2"
                      class="form-control md-textarea"
                    ></textarea>
                    <label for="message">Pesan</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->
            </form>

            <div class="text-center text-md-left">
              <a
                class="btn btn-primary"
                onclick=
                >Kirim</a
              >
            </div>
            <div class="status"></div>
          </div>
          <!--Grid column-->
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.485099684032!2d113.57023007405581!3d-7.069616669287867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd9d7ff8734fbdb%3A0xc98fedeef59df727!2sSMP%20Miftahul%20Falah!5e0!3m2!1sid!2sid!4v1704088941220!5m2!1sid!2sid" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </section>
      <!--Section: Contact v.2-->
    </div>
  </section>
    
    <footer class="text-center text-lg-start bg-primary py-3 text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      <marquee behavior="scroll" direction="left">© 2024 Copyright:paudrariyadlusshalihin</marquee> 
          
    </div>
    <!-- Copyright -->
  </footer>
{% endblock content %}