{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 1.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD RA </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src ="{% static 'img/Gambar 2.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD RA </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 3.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD RA </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <section>
    <div class="container mb-5">
      <!--Section: Contact v.2-->
      <section class="mb-4">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">
          Contact us
        </h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
          Do you have any questions? Please do not hesitate to contact us
          directly. Our team will come back to you within a matter of hours
          to help you.
        </p>

        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-md-0 mb-5">
            <form
              id="contact-form"
              name="contact-form"
              action="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/mail.php"
              method="POST"
            >
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                    />
                    <label for="name" class="">Your name</label>
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"
                    />
                    <label for="email" class="">Your email</label>
                  </div>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="subject"
                      name="subject"
                      class="form-control"
                    />
                    <label for="subject" class="">Subject</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea
                      type="text"
                      id="message"
                      name="message"
                      rows="2"
                      class="form-control md-textarea"
                    ></textarea>
                    <label for="message">Your message</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->
            </form>

            <div class="text-center text-md-left">
              <a
                class="btn btn-primary"
                onclick=
                >Send</a
              >
            </div>
            <div class="status"></div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 text-center">
            <iframe
              src="./index_files/embed.html"
              width="600"
              height="300px"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <!--Grid column-->
        </div>
      </section>
      <!--Section: Contact v.2-->
    </div>
  </section>
    
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-primary py-3 text-white">
          <!-- Section: Social media -->
  
          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="bi bi-gem me-3"></i>Company name
                  </h6>
                  <p>
                    Here you can use rows and columns to organize your footer
                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                  </p>
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Angular</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >React</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Vue</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Laravel</a
                    >
                  </p>
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Pricing</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Settings</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Orders</a
                    >
                  </p>
                  <p>
                    <a
                      href="file:///C:/Users/D_C%20MDR/AppData/Local/Temp/3d383966-f95c-45e4-a4d5-a79bc97827aa_Product%20.zip.7aa/School%20Pro/index.html#!"
                      class="text-reset"
                      >Help</a
                    >
                  </p>
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p>
                    <i class="bi bi-location me-3"></i> New York, NY 10012, US
                  </p>
                  <p>
                    <i class="bi bi-envelope me-3"></i>
                    info@example.com
                  </p>
                  <p><i class="bi bi-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="bi bi-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
  
          <!-- Copyright -->
          <div
            class="text-center py-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
          >
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
              >MDBootstrap.com</a
            >
          </div>
          <!-- Copyright -->
        </footer>
{% endblock content %}