{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 1.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src ="{% static 'img/Gambar 2.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 3.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

   <!-- ======= PROFIL LEMBAGA Section ======= -->
   <section id="KARAKTERISTIK KURIKULUM PAUD. RIYADLUS SHALIHIN" class="KARAKTERISTIK KURIKULUM PAUD. RIYADLUS SHALIHIN mt-5">
    <div class="container-fluid">
      <h2 class="h1-responsive font-weight-bold text-center my-2">KARAKTERISTIK KURIKULUM PAUD. RIYADLUS SHALIHIN</h2>
    <div class="row pt-5 pb-5">
      <div
          class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"
          <div class="content">
            <h4>
              <strong>Kurikulum Tingkat Satuan PAUD dirancang dengan karakteristik sbb:</strong>
            </h4>
            <p>
            <ul>
              <li>
                <i class="bx bx-check-double"></i>Mengoptimalkan program pengembangan meliputi; nilai agama (baca tulis huruf hijaiyah) dan menghafal surat2 pende, praktek wuduk,sholat berjamaah dan moral, fisik-motorik, kognitif, bahasa seperti bahasa Indonesia dan bahasa Daerah (madura halus), sosial emosional, dan seni yang tercermin dalam keseimbangan kompetensi sikap, pengetahuan, dan ketrampilan.
              </li>
              <li>
                <i class="bx bx-check-double"></i>Mengelola kegiatan pembelajaran yang menyenangkan, keratif, dan inovatif.
              </li>
              <li>
                <i class="bx bx-check-double"></i>PAUD RIYADLUS SHALIHIN menerapkan model pembelajaran kelompok dengan pendekatan saintifik dalam pemberian rangsangan pendidikan.
              </li>
              <li>
                <i class="bx bx-check-double"></i>Menggunakan penilaian autentik dalam memantau perkembangan anak.
              </ul>
            </div>
          </div>
        </div>
      </div>
    <section id="PROGRAM KHUSUS DAN PENDUKUNG" class="PROGRAM KHUSUS DAN PENDUKUNG mt-5">
      <div class="container-fluid">
        <h2 class="h1-responsive font-weight-bold text-center my-2">PROGRAM KHUSUS DAN PENDUKUNG</h2>
      <div class="row pt-5 pb-5">
        <div
            class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"
            <div class="content">
              <h5>
              RA. Riyadlus Shalihin mengembangkan program khusus sebagai program unggulan dari satuan RA ini berupa 
              </h5>
               <p>
            <ul>
              <li>
                <i class="bx bx-check-double"></i>Istighasah/Pelajaran Extra kegiatan keagamaan, pengajian, menghafal surat pendek
              </li>
              <li>
                <i class="bx bx-check-double"></i>Kegiatan Parenting
              </li>
              <li>
                <i class="bx bx-check-double"></i>Kegiatan Pentas Seni (akhir tahun)
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-primary py-3 text-white">
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
            <marquee behavior="scroll" direction="left">© 2024 Copyright:paudrariyadlusshalihin</marquee> 
          
          </div>
          <!-- Copyright -->
        </footer>
      {% endblock content %}