{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 1.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src ="{% static 'img/Gambar 2.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="{% static 'img/Gambar 3.jpeg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block">
          <h2><span> PAUD </span> Riyadlus Shalihin </h2>
          <p>Bungbaruh Kadur kabupaten Pamekasan Jawa timur</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">
      Gallery
    </h2>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{% static 'img/Gambar 1.jpeg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <img
        src="{% static 'img/Gambar 2.jpeg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'img/Gambar 3.jpeg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />

      <img
        src="{% static 'img/Gambar 4.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{% static 'img/Gambar 5.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />

      <img
        src="{% static 'img/Gambar 6.jpg' %}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
    </div>
  </div>
  <!-- Gallery --> 
    
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-primary py-3 text-white">
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
            <marquee behavior="scroll" direction="left">© 2024 Copyright:paudrariyadlusshalihin</marquee> 
          
          </div>
          <!-- Copyright -->
        </footer>
      {% endblock content %}